$font: 'Lato', sans-serif;

$gray: #2B323A;
$light-gray: #AAAEB1;
$faded-gray: #ededed;
$green: #31ae37;
$aqua: #2DD49B;
$orange: #F7C23C;
$red: #EA5967;
$blue: #3E6AB3;

$bold: 700;
$light: 300;
$thin: 100;

$mobile: 890px;

$radius: 4px;
