@import 'vars';
.registration-wrapper {
    h2 {
        margin-top: 32px;
    }
    p {
        font-size: 1.4em;
    }
    .btn {
        margin: 16px auto;
        display: block;
        width: 160px;
    }
}
