<header class="fixed">
    <nav>
        <a ui-sref="app.home" class="logo"><img alt="alamun" src="/images/logo.svg" /></a>
        <ul>
            <li><a ui-sref="app.committees" ui-sref-active="active" onclick="toggleMenu(true)">COMMITTEES</a></li>
            <li><a ui-sref="app.delegates" ui-sref-active="active" onclick="toggleMenu(true)">FOR DELEGATES</a></li>
            <li><a ui-sref="app.registration" ui-sref-active="active" onclick="toggleMenu(true)">REGISTRATION</a></li>
            <li><a ui-sref="app.contact" ui-sref-active="active" onclick="toggleMenu(true)">CONTACT</a></li>
            <li><a href="https://munify.io" class="btn btn-primary">Login</a></li>
        </ul>
        <button class="btn btn-primary" id="show-menu" onclick="toggleMenu()">Menu</button>
    </nav>
</header>
