<div class="home-wrapper">
    <section>
        <h1>WELCOME TO THE <b>ALAMUN!</b></h1>
        <p class="main-text">This year we will be thrilled to host you here at ALAMUN. We have the power, the need and the urge to change the world. In this model, we hope to hear the voices of all the peoples of the world through you, so that no one will suffer in silence.</p>
        <div class="date">March 10th and 11th</div>
    </section>
    <section class="by-numbers">
        <h2><b>ALAMUN</b> BY THE NUMBERS</h2>
        <div class="caption">In our <b>five</b> years...</div>
        <div class="grid">
            <div class="col-4-12">
                <div class="number green">1000+</div>
                <div class="help-block green">delegates</div>
            </div>
            <div class="col-4-12">
                <div class="number">50+</div>
                <div class="help-block">committees</div>
            </div>
            <div class="col-4-12">
                <div class="number blue">20+</div>
                <div class="help-block blue">schools</div>
            </div>
        </div>
        <div class="counting">AND COUNTING!</div>
    </section>
    <section class="why-alamun">
        <h1>WHY ALAMUN?</h1>
        <div class="grid">
            <div class="col-4-12">
                <img src="/images/network.svg" alt="" />
                <div class="help-block"><b>Twenty</b> delegates or less</div>
            </div>
            <div class="col-4-12">
                <img src="/images/justice.svg" alt="" />
                <div class="help-block"><b>One of a kind</b> committees, such as ICC</div>
            </div>
            <div class="col-4-12">
                <img src="/images/flask.svg" alt="" />
                <div class="help-block"><b>Experienced</b> secretariat, over five years</div>
            </div>
        </div>
    </section>
</div>
