<div class="home-wrapper">
    <section>
        <h1>WELCOME TO THE <b>2017 ALAMUN</b></h1>
        <p class="main-text">We at ALAMUN and Colegio Álamos will be thrilled to accompany you at this experience. We have the power, the necessity, and the urge to change what we see and do not want to see. We hope to be able to hear the World through you, so that it never remains silent.</p>
        <div class="date">March 10th and 11th</div>
    </section>
    <section class="by-numbers">
        <h2><b>ALAMUN</b> BY THE NUMBERS</h2>
        <div class="caption">In our <b>five</b> years...</div>
        <div class="grid">
            <div class="col-4-12">
                <div class="number green">1000+</div>
                <div class="help-block green">delegates</div>
            </div>
            <div class="col-4-12">
                <div class="number">50+</div>
                <div class="help-block">committees</div>
            </div>
            <div class="col-4-12">
                <div class="number blue">20+</div>
                <div class="help-block blue">schools</div>
            </div>
        </div>
        <div class="counting">AND COUNTING!</div>
    </section>
</div>
