<div class="schedule-wrapper">
    <h1 class="center">DEBATING PROCEDURE</h1>
    <table class="table-fill">
        <thead>
            <tr>
                <th class="text-left">Say this...</th>
                <th class="text-left">When you...</th>
                <th class="text-left">Decision</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <tr>
                <td class="text-left">The delegation of <i>(Your country)</i> makes a motion to open/close the session.</td>
                <td class="text-left">Want to open or close the session</td>
                <td class="text-left">Majority Vote</td>
            </tr>
            <tr>
                <td class="text-left">The delegation of <i>(Your country)</i> makes a motion to open/close the speakers list.</td>
                <td class="text-left">Want to open or close the speaker list. Time must be set before open the speaker list.</td>
                <td class="text-left">Majority Vote</td>
            </tr>
            <tr>
                <td class="text-left">The delegation of <i>(Your country)</i> makes a motion to start a moderated/unmoderated debate.</td>
                <td class="text-left">Want to start a debate with or without the chair's assistance.</td>
                <td class="text-left">Majority Vote</td>
            </tr>
            <tr>
                <td class="text-left">Point of Order</td>
                <td class="text-left">Believe the chair made a mistake regarding procedures.</td>
                <td class="text-left">Chair</td>
            </tr>
            <tr>
                <td class="text-left">Point of Personal Privilege</td>
                <td class="text-left">Need to ask the chairperson a question regarding the rules of procedure, or want to translate something.</td>
                <td class="text-left">Chair</td>
            </tr>
            <tr>
                <td class="text-left">I yield my time to the chair/delegate/questions</td>
                <td class="text-left">Want to assign the remaining time you may have to either the chair, a delegate or questions.</td>
                <td class="text-left">Delegate</td>
            </tr>
        </tbody>
    </table>
</div>
