<div class="registration-wrapper">
    <h1 class="center">Register Now!</h1>
    <div class="grid">
        <h2>Step 1</h2>
        <p>The first step of the registration process is the school registration. To do this you must be a school advisor. This step can be done by sending an email to <a href="mailto:registration@alamun.com">registration@alamun.com</a>. Please include the number of students that will attend the event.</p>
        <h2>Step 2</h2>
        <p>You will be sent a confirmation email that includes the committees &amp; delegations information. Upon reception of this email, you will need to send us with your list of the students with their desire delegations. This list is subject to availability.</p>
        <h2>Step 3</h2>
        <p>You'll receive your final list along with the payment information. Please keep your receipt and either email it to us or bring it the day of the event.</p>
        <h2>Independent Delegates</h2>
        <p>If your school isn't attending you can register as an independent delegate, just email us at <a href="mailto:registration@alamun.com">registration@alamun.com</a> with your full name, age, grade, committee and delegation you wish to represent. You'll receive a confirmation email with the next steps to follow.</p>
        <div class="spacer-md"></div>
        <h2 class="center">Do you have any questions?</h2>
        <a class="btn btn-aqua" ui-sref="app.contact">Contact Us</a>
        <div class="spacer-md"></div>
    </div>

</div>
